[submodule "openarena-ioq3"]
	path = openarena-ioq3
	url = https://github.com/OpenArena-Ioq3/openarena-ioq3
[submodule "oa-assets"]
	path = oa-assets
	url = https://github.com/OpenArena-Ioq3/oa-assets.git
